[Unit]
Description=Redis for paperless

[Service]
Restart=on-failure
TimeoutStartSec=900

[Container]
Pod=paperless.pod
Image=docker.io/library/redis
ContainerName=paperless-redis

Volume=paperless-redis:/data:U,Z

AutoUpdate=registry

[Install]
WantedBy=multi-user.target
