[Unit]
Description=Letta AI agent server

[Service]
Restart=on-failure
TimeoutStartSec=900
StateDirectory=letta/pgdata

[Container]
Pod=letta.pod
Image=docker.io/letta/letta:latest
ContainerName=letta

Volume=%S/letta/pgdata:/var/lib/postgresql/data:U,Z

HealthCmd=curl -f http://localhost:8283/v1/health
HealthStartPeriod=15s
HealthInterval=10s
HealthOnFailure=restart
HealthRetries=5

AutoUpdate=registry

[Install]
WantedBy=multi-user.target
