[Unit]
Description=LettaBot chatbot

[Service]
Restart=on-failure
TimeoutStartSec=900
StateDirectory=letta/bot-data

[Container]
Pod=letta.pod
Image=letta-bot.build
ContainerName=letta-bot

Environment=DATA_DIR=/data

Volume=/etc/lettabot.yaml:/app/lettabot.yaml:U,Z
Volume=%S/letta/bot-data:/data:U,Z

[Install]
WantedBy=multi-user.target
