[Unit]
Description=Homebridge server

[Service]
Restart=on-failure
TimeoutStartSec=900
StateDirectory=homebridge
UserNS=auto

[Container]
Image=docker.io/homebridge/homebridge:latest
ContainerName=homebridge
Environment=TZ=Europe/Paris
Network=host

Volume=%S/homebridge:/homebridge:U,Z

AutoUpdate=registry

[Install]
WantedBy=multi-user.target
