[Unit]
Description=Silverbullet is a note taking app

[Service]
Restart=on-failure
TimeoutStartSec=900
StateDirectory=silverbullet

[Container]
Image=ghcr.io/silverbulletmd/silverbullet:2.1.9
ContainerName=silverbullet
Environment=TZ=Europe/Paris
# Ensure silverbullet doesn't create a user
Environment=PUID=0

PublishPort=3000:3000
Volume=%S/silverbullet:/space:U,Z

Network=caddy.network

HealthCmd=curl -f http://localhost:3000/.ping
HealthStartPeriod=5s
HealthInterval=10s
HealthOnFailure=restart
HealthRetries=5

AutoUpdate=registry

UserNS=auto

[Install]
WantedBy=multi-user.target
