[Unit]
Description=Syncthing file sync service

[Service]
Restart=on-failure
TimeoutStartSec=900
StateDirectory=syncthing/config syncthing/data

[Container]
Image=docker.io/syncthing/syncthing:latest@sha256:4464f4161dd0251e20d46bb3aec83363db75d80cef1abdd5d5fd4054b04a004d
ContainerName=syncthing

Network=host
UserNS=auto

Environment=PUID=0
Environment=PGID=0

Volume=%S/syncthing/config:/var/syncthing/config:U,Z
Volume=%S/syncthing/data:/var/syncthing/data:U,Z

AutoUpdate=registry

[Install]
WantedBy=multi-user.target
